*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
body {
    font-weight: 700;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top right,bottom left;
    text-emphasis-color: grey; 
    background-color: hsl(240, 78%, 98%);
}
.price {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
    position: relative;
    align-content: space-around;
}
.division {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 200%;
    left: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.annualPlan{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    flex-direction: row;
    margin: 100px;
}
.slidercontent {
    display: flex;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 0 10px;
}

.checking {
    position: absolute;
    cursor: pointer;
    background-image: linear-gradient(to right, hsl(250, 18%, 93%), hsl(237, 63%, 64%));
    transition: .4s;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.checking::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50px;
}

input:checked + .checking::before {
    transform: translateX(25px);
}


.plan {
    color: hsl(233, 13%, 49%);
    font-size: 10px;
    font-weight: 700;
    line-height: 50px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 225px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
}

.btn {
    height: 40px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-color: white;
    font-size: 15px;
    /* background-image: linear-gradient(to right, hsl(245, 21%, 78%), hsl(237, 63%, 64%)); */
    margin: 15px 0;
}

.plan:hover {
    color: black;
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 2px 2px 5px rgb(161, 163, 241);
    /* background-image: linear-gradient(to bottom right, hsl(236, 72%, 79%), hsl(251, 62%, 58%)); */
}

.plan:hover .btn {
    background: transparent;
    background: rgb(161, 163, 241);
}

.btn:hover {
    color: white;
    border: 1px solid hsl(237, 63%, 64%);
    background: transparent;
}

.plan:hover .pricing {
    color: hsl(0, 0%, 100%);
    color: black;
}

.pricing {
    color: hsl(232, 13%, 33%);
    font-size: 40px;
    font-weight: 700;
    line-height: 200%;
    text-align: center;
}
.dollar{
    font-weight: 700;
    font-size: 25px;
}
.dollarcontent{
    font-size: 40px;
    font-weight: 700;
    line-height: 200%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.btn {
    height: 40px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    font-size: 15px;
    background: linear-gradient(to right, hsl(245, 21%, 78%), hsl(237, 63%, 64%));
    margin: 15px 0;
}
hr {
    min-width: 100%;
    color: rgb(236, 236, 236);
    background: rgba(194, 194, 194, 0.199);
}
#color{
    background-color:hsl(237, 63%, 64%);
    color: white;
}
.btn-2{
    background: white;
    color: hsl(237, 63%, 64%);
}
.btn-2:hover{
    color: white;
    border-color: white;
}
.dollar2{
    color: black;
}
@media screen and (max-width:375px) {
    .annualplan {
        max-width: 100vw;
        margin-bottom: 20px;
        align-content: center;
        justify-content: center;
    }
    body {
        background-image: url(./images/bg-top.svg);
        background-position-x: right -180px;
        background-position-y: top -80px;
        background-position: top right;
        background-repeat: no-repeat;
    }
}